@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* using a font from google fonts for the webpage through the important css command */

/* This is using the universal selector to apply a standard font and formatted to the whole webpage. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size:300%;
    color: cyan;
}

h4 {
    font-size: 120%;
    color: yellow;
}

h2 {
    font-size: 200% !important;
    font-weight: bold;
}

h1 {
    text-align: center;
}

input {
    margin-top: 1%;
}
.city {
    margin-bottom: 2%;
}
p {
    color: magenta;
}
.column {
    text-align: center;

}
/* this is customizing the size of the gif that is displayed on the start screen. */
.starter-gif {
   width: 500px;
   height: auto;
}
/* this is changing the cursor style when it is hoveing of the title at the top of the webpage. */
.title:hover {
    cursor: pointer;
}